*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
/*nav*/
.logosite{
padding: 0px 0px 25px 30px;

  position: absolute;
width: 10rem;
height: 7rem;;

}
.logosite :hover{
  cursor: pointer;
}
.don{
  cursor: pointer;
  background-color: #ca2b20;
  color: white;
   font-size: 1.4rem;
     font-family: 'Roboto', sans-serif;
     border-style: none;
     border-radius: 7px;
     width: 9rem;
     height: 2rem;
}

header{
  height: 80px;
}
nav{
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 80px;
    background: white;
box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.2);
z-index: 3;
}
 ul{
   display: flex;
   gap: 5rem;
   margin:  1.5rem 0rem 0rem 30rem;
   font-size: 1.4rem;
   overflow: hidden;
   list-style: none;


 }

li a{
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;

}
li a:hover{
  opacity: 90%;
  cursor: pointer;
 
}
/*main*/
.banner{
  background-image: url("/image/banner.jpeg");
  width: 100%;
  height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: animebanner 1s reverse;
}
/*box1*/
.box{
  margin: 4rem 0rem 8rem 8rem;
  text-align: center;
  width: 80rem;
  height: 35rem;
  background-color: white;
  overflow: hidden;
  display: flex;
  gap:2rem;
  justify-content: center;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  
}
.article a{
  text-decoration: none; 
  text-align: right;
  color:#ca2b20 ;
  
}
.article a:hover{
  animation: animea 1s forwards ;
}
.article{

margin-top: 2rem;
  text-align:  left;
  width: 20rem;
  height: 30rem;
  overflow: hidden;
  
 
}

.box img{
  width: 25rem;
  height: 15rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.article:hover{
  animation: animeimg 0.5s forwards ;
}
  
/*box2*/
.box2{
  margin: 4rem 0rem 8rem 8rem;
  text-align: center;
  width: 80rem;
  height: 35rem;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}

.texte{
  margin: 3rem 3rem 0rem 3rem;
  text-align: left;
  display: grid;
  gap: 1rem;
}
.box2 img {
  margin: 5px;
  width: 170rem;
  height: 34rem;
  overflow: hidden;
}
.box2 img:hover{
  animation: animeimg 0.5s forwards;
}

.box2 a{
  text-decoration: none;
  color:#ca2b20
}

/*foot*/
footer{
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: black;
  margin: 0;
  justify-content: center;
  
 
}
footer img{
  border-radius: 50%;
width: 70px;
}
footer img:hover{
  animation: animeimg 1s forwards;
}

footer ul{

  position: relative;
  display: flex;
  padding: 2rem 0rem 3rem 0rem;

}
footer h3{
  
  font-size: 1.5rem;

}
/*operation*/
.operation{
  font-size: 1.7rem;
  color: #ca2b20;
  font-family: 'Roboto', sans-serif;
    margin: 2rem 0rem 8rem 8rem;
}
.operation img{
margin-top: 2rem;

  width: 80rem;
  height: 40rem;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
}




@keyframes animebanner {
  from{
transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}
@keyframes animeimg {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.01);
  }
}
@keyframes animea {
  from{
    transform: scale(1.1);
  }
  to{
    transform: scale(1.2);
  }
}
@keyframes animeunder {
  from{
text-decoration: none;
transform: scaleX(0);
  }
  to{
text-decoration: underline #ca2b20 ;
transform: scaleX(1);
  }
  
}
