*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.logosite{
padding: 0px 0px 25px 30px;

  position: absolute;
width: 10rem;
height: 7rem;;

}
.logosite :hover{
  cursor: pointer;
}
header{
  height: 80px;
}
nav{
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 80px;
    background: white;
box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.2);
}
 ul{
   display: flex;
   gap: 5rem;
   margin:  25px 0px 2px 400px;
   font-size: 1.4rem;
   overflow: hidden;
   list-style: none;

 }

li a{
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}
li a:hover{
  opacity: 60%;
  cursor: pointer;
}
.don{
  cursor: pointer;
  background-color: #ca2b20;
  color: white;
   font-size: 1.4rem;
     font-family: 'Roboto', sans-serif;
     border-style: none;
     border-radius: 7px;
     width: 9rem;
     height: 2rem;
}

.map{
  width: 30rem;
  height: 30rem;
}
.box{
  margin: 4rem 0rem 8rem 8rem;
  text-align: center;
  width: 80rem;
  height: 40rem;
  background-color: white;
  overflow: hidden;
  display:  grid;
  justify-content: center;
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;

}

.box p {
  width: 30rem;
}
.formulaire{
  margin: 4rem 0rem 8rem 25rem;
  text-align: center;
  width: 40rem;
  height: 25rem;
  background-color: white;
  overflow: hidden;
  display:  grid;
  justify-content: center;
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;
}
.inscription{
  text-align: center;
  margin: 2rem 0rem 4rem 0rem;

}
input[type=text] {
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
 border: none;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
input[type=mail] {
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
 border: none;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
label{
    font-family: 'Poppins', sans-serif;
}
.formulaire h3{

  font-family: 'Roboto', sans-serif;
  text-align: center;
}
input[type=submit] {

  background-color: #ca2b20;
  color: white;
   font-size: 1.4rem;
     font-family: 'Roboto', sans-serif;
     border-style: none;
     border-radius: 7px;
     width: 9rem;
     height: 2rem;
}
input[type=submit]:hover{
  opacity: 95%;
  cursor: pointer;
}
